

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text, #323130);
  background-color: var(--background, #ffffff);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme variables from theme.json */
  --themePrimary: #001729;
  --themeLighterAlt: #cad9e5;
  --themeLighter: #9eb9ce;
  --themeLight: #789bb6;
  --themeTertiary: #57809f;
  --themeSecondary: #3b6687;
  --themeDarkAlt: #254f6f;
  --themeDark: #133a58;
  --themeDarker: #072840;
  --neutralLighterAlt: #faf9f8;
  --neutralLighter: #f3f2f1;
  --neutralLight: #edebe9;
  --neutralQuaternaryAlt: #e1dfdd;
  --neutralQuaternary: #d0d0d0;
  --neutralTertiaryAlt: #c8c6c4;
  --neutralTertiary: #a19f9d;
  --neutralSecondary: #605e5c;
  --neutralPrimaryAlt: #3b3a39;
  --neutralPrimary: #323130;
  --neutralDark: #201f1e;
  --black: #000000;
  --white: #ffffff;
  --lightBackground: #ffffff;
  --lightText: #323130;
  --darkBackground: #001729;
  --darkText: #faf9f8;
  --background: var(--lightBackground);
  --text: var(--lightText);
}

a {
  font-weight: 500;
  color: var(--themeSecondary, #3b6687);
  text-decoration: inherit;
}
a:hover {
  color: var(--themePrimary, #001729);
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--background, #ffffff);
  color: var(--text, #323130);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--themePrimary, #001729);
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--themeLight, #789bb6);
  color: var(--white, #ffffff);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--themePrimary, #001729);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: var(--neutralPrimary, #323130);
    background-color: var(--white, #ffffff);
  }
  a:hover {
    color: var(--themeDark, #133a58);
  }
  button {
    background-color: var(--themeLighter, #9eb9ce);
    color: var(--themePrimary, #001729);
  }
}
